/* GENERAL PAGE STYLING */
* {
  box-sizing: border-box;
}

/* ELEMENT STYLING */

/* Body */
body {
  background-color: #2d2d2d;
}

/* Headings */
#heading {
  font-family: "Jetbrains Mono";
}

/* Add new entry field */
.add-new-entry{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* To-do items */
#to-do-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#to-do-items input{
    margin: 10px;
}
