* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
}

body {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

/* Header Styling */
h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    font-size: 50px;
}

/* Input Box Styling */
.container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#input1,
#input2,
#input3 {
    border-style: none;
    height: 60px;
}

/* Calculation Button Styling */

.calcB {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

button {
    width: 90px;
    height: 50px;
    font-size: 18px;
}

/* Result Element Styling  */

#result {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
}