/* Global Styling */
*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Body Styling */
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

h3{
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
    font-size: 30px;
}

.instruction{
    margin-top: 25px;
    margin-bottom: 25px;
}

#menuOptions{
    margin-top: 20px;
}

.option{
    margin-bottom: 15px;
}

/* button{
    font-size: 15px;
    border-radius: 30px;
} */